{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Hello</h1>

        <hr class="mt-2 mb-5">

        <form method="post" action="{{ path('index') }}">
            <div class="form-group">
                <label for="q">Search term</label>
                <input type="text" class="form-control" id="q" name="search[q]" value="{% if search.q is defined %}{{ search.q }}{% endif %}">
            </div>
            <div class="form-group">

                <label for="imageType">Type</label>
                <select class="form-control" id="imageType" name="search[image_type]">
                    <option value="all">all</option>
                    <option value="photo">photo</option>
                    <option value="illustration">illustration</option>
                    <option value="vector">vector</option>
                </select>

            </div>
            <div class="form-group">

                <label for="orientation">Orientation</label>
                <select class="form-control" id="orientation" name="search[orientation]">
                    <option value="all">all</option>
                    <option value="horizontal">horizontal</option>
                    <option value="vertical">vertical</option>
                </select>

            </div>
            <div class="form-group">

                <label for="category">Category</label>
                <select class="form-control" id="category" name="search[category]">
                    <option value="">all</option>
                    <option value="backgrounds">backgrounds</option>
                    <option value="fashion">fashion</option>
                    <option value="illustration">illustration</option>
                    <option value="nature">nature</option>
                    <option value="science">science</option>
                    <option value="education">education</option>
                    <option value="food">food</option>
                    <option value="sports">sports</option>
                    <option value="travel">travel</option>
                </select>

            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <hr class="mt-2 mb-5">

        <div class="row text-center text-lg-left">

            {% for photo in photos %}
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="{{ photo.previewURL }}" alt="">
                    </a>
                </div>
            {% endfor %}

        </div>

    </div>


{% endblock %}
