{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Saved</h1>

    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-left">

        {% for photo in photos %}
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="{{ photo.previewURL }}" alt="">
                </a>
            </div>
        {% endfor %}

    </div>
</div>
{% endblock %}
